<footer>
  <div class="icon-container">
   <a href="https://www.linkedin.com/in/brady-hawkins">
      <i class="icon fab fa-linkedin fa-2x" ></i>
    </a>

    <a href="https://github.com/hawk0120">
      <i class="icon fab fa-github fa-2x"></i>
    </a>

    <a href="https://bsky.app/profile/bradyhawkins.dev">
      <i class="icon fab fa-bluesky fa-2x"></i>
		</a>
  </div>

  <a href="https://www.websitecarbon.com/website/bradyhawkins-dev/" target="_blank" rel="noopener">
    <p>Website Carbon Rating</p>
  </a>
</footer>
