<header class="header">
  <p>Bradyhawkins.dev</p>
  <div class="header-right">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/projects" routerLinkActive="active">Projects</a>
  <a routerLink="/contact" routerLinkActive="active">Chat</a>
<button class="icon-btn" (click)="toggleDarkMode()" aria-label="Toggle dark mode">
  <span *ngIf="theme === 'dark'">☀️</span>
  <span *ngIf="theme === 'light'">🌙</span>
</button>

  </div>
</header>

<hr/>
