.blog-post {
  margin-bottom: 2rem;
  padding: 1rem;
}

.blog-post h2 {
  margin-top: 0;
  padding-bottom: 0.75em;
}

.blog-post {
    font-style: italic;
    line-height: 2.0;
    padding-bottom: 0.5em;
}

.blog-post > * {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.blog-post > *:nth-child(1) { animation-delay: 0s; }
.blog-post > *:nth-child(2) { animation-delay: 0.2s; }
.blog-post > *:nth-child(3) { animation-delay: 0.4s; }
.blog-post > *:nth-child(4) { animation-delay: 0.6s; }
.blog-post > *:nth-child(5) { animation-delay: 0.8s; }
.blog-post > *:nth-child(6) { animation-delay: 1.0s; }
.blog-post > *:nth-child(7) { animation-delay: 1.2s; }
.blog-post > *:nth-child(8) { animation-delay: 1.4s; }
.blog-post > *:nth-child(9) { animation-delay: 1.6s; }


