.home-container {
  padding: 1rem;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.home-photo {
  max-width: 30%;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .photo-container {
    height: auto;
    padding: 1rem 0;
  }

  .home-photo {
    max-width: 80%;
  }
}

